<template>
  <v-container>
    <v-alert v-if="error" type="error">
      Une erreur s'est produite lors de la création du rapport.
    </v-alert>

    <v-stepper class="mx-auto" max-width="600" v-model="stepper" vertical :non-linear="true">
      <v-stepper-step editable :complete="stepper > 1" step="1">
        Général
      </v-stepper-step>

      <v-stepper-content step="1">
        <v-form
          ref="generalForm"
          class="sub-form"
          lazy-validation
        >
          <v-text-field
            v-model="weight"
            type="number"
            label="Poids en fin de journée"
            suffix="kg"
            :rules="weightRules"
            outlined
            required
          ></v-text-field>

          <v-btn color="primary" @click="submitGeneral">Continuer</v-btn>
        </v-form>
      </v-stepper-content>

      <v-stepper-step editable :complete="stepper > 2" step="2">
        Sport réalisé
      </v-stepper-step>

      <v-stepper-content step="2">
        <v-form
          ref="sportForm"
          class="sub-form"
          lazy-validation
        >
          <v-text-field
            v-model="sport"
            label="Nom du sport"
            outlined
          ></v-text-field>

          <v-text-field
            v-model="sportDuration"
            type="number"
            label="Durée de pratique"
            suffix="minutes"
            :rules="sportDurationRules"
            outlined
          ></v-text-field>

          <v-slider
            v-model="sportIntensity"
            :min="0"
            :max="100"
            :step="10"
            :thumb-label="true"
            label="Intensité"
          ></v-slider>

          <v-btn color="primary" @click="submitSport">Continuer</v-btn>
        </v-form>
      </v-stepper-content>

      <v-stepper-step :complete="stepper > 3" step="3">Repas</v-stepper-step>

      <v-stepper-content step="3">

        <v-form
          ref="mealForm"
          class="sub-form"
          lazy-validation
        >
          <v-select
            :items="mealWeights"
            v-model="mealBreakfirst"
            label="Petit déjeuner"
            outlined
          ></v-select>

          <v-select
            :items="mealWeights"
            v-model="mealLunch"
            label="Déjeuner"
            outlined
          ></v-select>

          <v-select
            :items="mealWeights"
            v-model="mealDinner"
            label="Dîner"
            outlined
          ></v-select>

          <v-checkbox v-model="snack" label="Collation"></v-checkbox>
        </v-form>
        
        <v-btn color="primary" @click="submitMeal">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="stepper > 4" step="4">Votre humeur</v-stepper-step>

      <v-stepper-content step="4">
        <v-form
          ref="form"
          class="sub-form"
          lazy-validation
        >
          <v-radio-group v-model="mood" :mandatory="true">
            <v-radio v-for="mood in moods" :key="mood" :label="mood" :value="mood"></v-radio>
          </v-radio-group>

          <p v-if="mood === 'Maussade'">Courage vous ferez mieux demain !</p>
        </v-form>

        <v-btn color="primary" @click="submit">Envoyer</v-btn>
      </v-stepper-content>
    </v-stepper>
  </v-container>
</template>

<script>
  import api from '@/api/coaching-api';

  export default {
    data() {
      return {
        show: false,
        sport: '',
        sportDuration: undefined,
        weight: undefined,
        sportIntensity: 100,
        mealBreakfirst: 'Normalement',
        mealLunch: 'Normalement',
        mealDinner: 'Normalement',
        snack: false,
        mood: 'Bien',
        stepper: 1,
        weightRules: [
          v => !!v || 'Le poids est requis.',
          v => (v && v > 0) || 'Ce poids n\'est pas recevable.',
        ],
        passwordRules: [
          v => !!v || 'Le mot de passe est requis.',
          v => (v && v.length > 5) || 'Le mot de passe doit contenir au minimum cinq caractères.',
        ],
        sportDurationRules: [
          v => (v === undefined || v > 0) || 'Cette durée n\'est pas recevable.',
        ],
        mealWeights: [
          'Léger', 'Normalement', 'Beaucoup'
        ],
        moods: [
          'Maussade', 'Normal', 'Bien', 'Très bien'
        ],
        error: false,
        editedId: undefined,
        editedDate: undefined
      }
    },
    async created() {
      const id = this.$route.params.id;

      if (id !== undefined) {
        this.editedId = id;

        const report = await api.getReport(id);

        if (report === null) {
          this.$router.push({ name: 'History'});
        } else {
          this.editedDate = report.date;

          this.sport = report.sport.name;
          this.sportDuration = report.sport.duration;
          this.sportIntensity = report.sport.intensity;
          this.weight = report.weight;

          this.mood = report.mood;
          this.mealBreakfirst = report.meals.breakfirst;
          this.mealLunch = report.meals.lunch;
          this.mealDinner = report.meals.dinner;
          this.snack = report.meals.snack;
        }
      }
    },
    methods: {
      async submit() {
        const report = {
          date: this.editedDate || new Date().toISOString(),
          sport: {
            name: this.sport,
            duration: this.sportDuration,
            intensity: this.sportIntensity
          },
          weight: this.weight,
          mood: this.mood,
          meals: {
            breakfirst: this.mealBreakfirst,
            lunch: this.mealLunch,
            dinner: this.mealDinner,
            snack: this.snack
          },
          userId: this.$store.getters.user.id
        };

        let success;

        if (this.editedId === undefined) {
          success = await api.createReport(report.userId, report);
        } else {
          success = await api.updateReport(this.editedId, report);
        }

        if (success) {
          this.$router.push({ name: 'History'});
        } else {
          this.error = true;
        }
      },
      submitGeneral() {
        if (this.$refs.generalForm.validate()) {
          this.stepper = 2;
        }
      },
      submitSport() {
        if (this.$refs.sportForm.validate()) {
          this.stepper = 3;
        }
      },
      submitMeal() {
        this.stepper = 4;
      }
    },
    metaInfo() {
      return {
        title: "Créer un rapport",
        titleTemplate: null,
        meta: [
          {
            name: "Créer un rapport",
            content: "Créer un rapport pour votre journée."
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>
  .sub-form {
    padding: 10px 15px;
  }
</style>
