<template>
  <div class="dashboard">
    <h1>Mes rapports</h1>

    <v-row>
      <v-col cols="4" lg="4" sm="12">
        <v-card>
          <v-card-title>Messages</v-card-title>
          <v-card-text>
            <Messages :messages="messages"/>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="8" lg="8" sm="12">
        <v-card>
          <v-card-title>Calendrier</v-card-title>
          <v-card-text>
            <Calendar :reports="reports"/>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-btn
      fixed
      :to="{ name: 'DayNew' }"
      fab
      large
      color="primary"
      bottom
      right
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script>
  import Calendar from '@/components/Calendar';
  import Messages from '@/components/Messages';
  import api from '@/api/coaching-api';

  export default {
    components: {
      Calendar,
      Messages
    },
    async created() {
      const user = this.$store.getters.user;
      this.reports = await api.getReports(user.id);
      this.messages = await api.getMessages(user.id);
    },
    data: () => ({
      reports: [],
      messages: [],
    }),
    metaInfo() {
      return {
        title: "Dashboard client",
        titleTemplate: null,
        meta: [
          {
            name: "Dashboard client",
            content: "Votre espace personnel."
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>
  .dashboard {
    padding: 25px;
  }
</style>
