<template>
  <v-container>
    <h1>About this project</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac accumsan purus, ac mattis ipsum. Suspendisse maximus, lacus non interdum dignissim, ex ex suscipit est, eget lobortis est est ut dolor. Sed id mauris est. Quisque dignissim sed purus vitae sodales. Etiam auctor vel magna id imperdiet. Sed turpis metus, condimentum porta eros vel, dapibus convallis augue. Praesent justo leo, suscipit et metus eget, elementum varius libero.

Mauris rhoncus congue magna, vel facilisis lorem venenatis et. Curabitur elementum nisi vel ante finibus vestibulum vel sit amet nisi. Nulla dolor nibh, volutpat id laoreet ut, dictum eget metus. Duis neque est, luctus id velit sed, bibendum placerat dui. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis justo justo, gravida eu tempor quis, facilisis eu felis. Curabitur vehicula metus at orci finibus, sit amet condimentum orci pharetra. Curabitur at pretium ex, lobortis mattis leo. Nunc posuere tincidunt ipsum in venenatis. Sed eget sapien facilisis, tincidunt eros vitae, vehicula sapien. Nunc aliquet nisi vel laoreet accumsan. Pellentesque id maximus elit. Nam velit erat, mattis quis tempus sit amet, egestas lobortis elit. Pellentesque ultrices ornare finibus. </p>
  </v-container>
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: "Mention légales",
        titleTemplate: null,
        meta: [
          {
            name: "Mention légales",
            content: "Mention légales."
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>

</style>