<template>
  <v-content>
    Notre produit est révolutionnaire, venez l'essayer !
  </v-content>
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: "Accueil",
        titleTemplate: null,
        meta: [
          {
            name: "Accueil",
            content: "Page d'accueil"
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>

</style>