<template>
  <v-container>
    <v-card class="mx-auto" max-width="450">
      <v-card-title class="headline">Me connecter</v-card-title>

      <v-card-text>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="login"
            label="Identifiant"
            required
            outlined
          ></v-text-field>

          <v-text-field
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            label="Mot de passe"
            v-model="password"
            required
            @click:append="show = !show"
            outlined
          ></v-text-field>

          <p v-if="error">Une erreur s'est produite lors de la tentative de connexion.</p>
        </v-form>
      </v-card-text>
      
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!valid"
          color="primary"
          class="mr-4"
          @click="submit"
        >
          Me connecter
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
  import api from '@/api/coaching-api';

  export default {
    data() {
      return {
        valid: false,
        show: false,
        login: '',
        password: '',
        error: false,
      }
    },
    created() {
      this.$store.dispatch('logout');
    },
    methods: {
      async submit() {
        const user = await api.login(this.login, this.password);

        if (user === null) {
          this.error = true;
        } else {
          this.$store.dispatch('login', user);

          switch (user.role) {
            case 'coach':
              this.$router.push({ name: 'ListClient'});
              break;

            case 'client':
              this.$router.push({ name: 'History'});
              break;

            default: 
              alert('An error has occurred.');
              break;
          }

          this.error = false;
        }
      }
    },
    metaInfo() {
      return {
        title: "Connexion",
        titleTemplate: null,
        meta: [
          {
            name: "Connexion",
            content: "Page de connexion"
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>

</style>