<template>
  <v-row class="fill-height">
    <v-col>
      <v-sheet height="64">
        <v-toolbar flat color="white">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Aujourd'hui
          </v-btn>

          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>

          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="() => 'primary'"
          :type="type"
          @click:event="showEvent"
        ></v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <DayInfo :selectedEvent="selectedEvent"/>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
</template>

<script>
  import DayInfo from '@/components/DayInfo';

  export default {
    components: {
      DayInfo
    },
    props: {
      reports: {
        type: Array,
        required: true,
      },
    },
    computed: {
      events() {
        return this.reports.map(report => {
          const date = new Date(report.date);

          return ({
            name: `Rapport du ${date.getDate()}/${date.getMonth() + 1}`,
            start: date,
            end: date,
            color: 'primary',
            timed: false,
            report
          });
        });
      }
    },
    data: () => ({
      focus: '',
      type: 'month',
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
    }),
    mounted () {
      this.$refs.calendar.checkChange()
    },
    methods: {
      setToday () {
        this.focus = '';
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
    },
  }
</script>

<style lang="scss" scoped>
</style>