<template>
  <v-card
    color="grey lighten-4"
    min-width="350px"
    flat
  >
    <v-toolbar color="primary" dark>
      <v-btn v-if="isClient" icon @click="edit">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <p><strong>Poids:</strong>{{ selectedEvent.report.weight }} kg</p>
      <p><strong>Humeur:</strong>{{ selectedEvent.report.mood }}</p>

      <p v-if="selectedEvent.report.sport.name">
        <strong>Nom du sport:</strong>{{ selectedEvent.report.sport.name }}
      </p>

      <p v-if="selectedEvent.report.sport.duration">
        <strong>Durée du sport:</strong>{{ selectedEvent.report.sport.duration }}
      </p>

      <p><strong>Intensité:</strong>{{ selectedEvent.report.sport.intensity }}</p>

      <p><strong>Quantité petit déjeuner:</strong>{{ selectedEvent.report.meals.breakfirst }}</p>
      <p><strong>Quantité déjeuner:</strong>{{ selectedEvent.report.meals.breakfirst }}</p>
      <p><strong>Quantité dîner:</strong>{{ selectedEvent.report.meals.dinner }}</p>
      <p><strong>Collation:</strong>{{ selectedEvent.report.meals.snack ? 'Oui' : 'Non' }}</p>
    </v-card-text>
  </v-card>
</template>

<script>

  export default {
    props: {
      selectedEvent: {
        type: Object,
        required: true,
      },
    },
    computed: {
      isClient() {
        return this.$store.getters.isClient;
      }
    },
    methods: {
      edit() {
        const params = {
          id: this.selectedEvent.report.id
        };

        this.$router.push({ name: 'DayEdit', params });
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>