<template>
  <v-list v-if="messages.length > 0">
    <v-list-item v-for="message in messages" :key="message.id">
      <v-list-item-content>
        <v-list-item-title v-text="message.message"></v-list-item-title>
        <v-list-item-subtitle v-text="'-- ' + message.sender"></v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
  export default {
    props: {
      messages: {
        type: Array,
        required: true,
      },
    },
    name: 'Messages',
  }
</script>

<style lang="scss" scoped>

</style>