<template>
  <v-app-bar app color="primary" dark>
    <v-toolbar-title>
      <v-btn :to="{ name: 'Home' }" text>
        Fabien En Forme
      </v-btn>
    </v-toolbar-title>

    <v-btn v-if="isClient" :to="{ name: 'History' }" text>
      Espace client
    </v-btn>

    <v-btn v-if="isCoach" :to="{ name: 'ListClient' }" text>
      Espace coach
    </v-btn>

    <v-spacer></v-spacer>

    <v-btn v-if="!this.$store.getters.connected" :to="{ name: 'Login' }" text>
      Connexion
    </v-btn>

    <v-btn v-else @click="logout" text>
      Déconnexion
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  computed: {
    isClient() {
      return this.$store.getters.connected && this.$store.getters.user.role === 'client';
    },
    isCoach() {
      return this.$store.getters.connected && this.$store.getters.user.role === 'coach';
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
        this.$router.push({ name: 'Login' });
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
