<template>
  <v-card>
    <v-card-title class="headline">Écrire un message</v-card-title>

    <v-card-text>
      <v-textarea
        outlined
        v-model="message"
      ></v-textarea>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn
        color="primary"
        text
        @click="sendMessage()"
      >
        Envoyer
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    model: {
      event: 'submit'
    },
    methods: {
      sendMessage() {
        this.$emit('submit', this.message);
        this.message = '';
      }
    },
    data() {
      return {
        message: ''
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>