<template>
  <v-container>
    <v-card class="mx-auto" max-width="450">
      <v-card-title class="headline">Créer un client</v-card-title>
      
      <v-card-text>
        <v-alert v-if="error" type="error">
          Une erreur s'est produite lors de la création du client.
        </v-alert>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="username"
            label="Nom du client"
            :rules="usernameRules"
            required
            outlined
          ></v-text-field>

          <v-text-field
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show ? 'text' : 'password'"
            label="Mot de passe"
            v-model="password"
            :rules="passwordRules"
            required
            @click:append="show = !show"
            outlined
          ></v-text-field>
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text color="grey" @click="() => this.$router.back()">Annuler</v-btn>

        <v-btn
          :disabled="!valid"
          color="primary"
          class="mr-4"
          @click="submit"
        >
          Créer
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
  import api from '@/api/coaching-api';

  export default {
    data() {
      return {
        valid: false,
        show: false,
        username: '',
        password: '',
        usernameRules: [
          v => !!v || 'Le nom est requis.',
        ],
        passwordRules: [
          v => !!v || 'Le mot de passe est requis.',
          v => (v && v.length > 5) || 'Le mot de passe doit contenir au minimum cinq caractères.',
        ],
        error: false,
      }
    },
    methods: {
      async submit() {
        if (this.$refs.form.validate()) {
          const success = await api.createClient(this.username, this.password);
  
          if (success) {
            this.$router.push({ name: 'ListClient'});
          } else {
            this.error = true;
          }
        }
      }
    },
    metaInfo() {
      return {
        title: "Créer un client",
        titleTemplate: null,
        meta: [
          {
            name: "Créer un client",
            content: "Créer un client en tant que coach."
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>

</style>
