<template>
  <div class="dashboard" v-if="user !== undefined">
    <h1>Rapports de {{ user.username }}</h1>

    <v-row>
      <v-col cols="4" lg="4" sm="12">
        <v-card>
          <v-card-title>Messages envoyés</v-card-title>
          <v-card-text>
            <Messages :messages="messages"/>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="8" lg="8" sm="12">
        <v-card>
          <v-card-title>Calendrier</v-card-title>
          <v-card-text>
            <Calendar :reports="reports"/>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-btn
      @click="dialog = true"
      fixed
      fab
      large
      color="primary"
      bottom
      right
    >
      <v-icon>mdi-message</v-icon>
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="350"
    >
      <WriteMessage @submit="sendMessage"/>
    </v-dialog>
  </div>
</template>

<script>
  import Calendar from '@/components/Calendar';
  import WriteMessage from '@/components/WriteMessage';
  import Messages from '@/components/Messages';
  import api from '@/api/coaching-api';

  export default {
    components: {
      Calendar,
      WriteMessage,
      Messages
    },
    async created() {
      const id = this.$route.params.id;

      this.user = await api.getClient(id);

      if (this.user === null) {
        this.$router.push({ name: 'ListClient'});
      } else {
        this.reports = await api.getReports(id);
        this.messages = await api.getMessages(id);
      }
    },
    methods: {
      async sendMessage(content) {
        this.dialog = false;

        const coach = this.$store.getters.user;
        const success = await api.sendMessage(this.$route.params.id, coach.username, content);

        if (!success) {
          alert('Une erreur s\'est produite lors de l\'envoi du message');
        } else {
          this.messages = await api.getMessages(this.$route.params.id);
        }
      }
    },
    data: () => ({
      reports: [],
      messages: [],
      user: undefined,
      dialog: false,
    }),
    metaInfo() {
      return {
        title: "Détail client",
        titleTemplate: null,
        meta: [
          {
            name: "Détail client",
            content: "Page d'administration fournissant des détails sur le client."
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>
  .dashboard {
    padding: 25px;
  }
</style>
