<template>
  <v-container>
    <v-card>
      <v-card-title class="headline">Clients</v-card-title>

      <v-list two-line>
        <v-list-item v-for="client in clients" :key="client.id">
          <v-list-item-content>
            <v-list-item-title v-text="client.username"></v-list-item-title>
          </v-list-item-content>

          <v-list-item-action>
            <v-row>
              <v-col>
                <v-btn icon :to="{ name: 'FollowClient', params: { id: client.id } }">
                  <v-icon color="blue">mdi-eye</v-icon>
                </v-btn>
              </v-col>

              <v-col>
                <v-btn @click="deleteClient(client)" icon>
                  <v-icon color="red darken-1">mdi-delete</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-card>

    <v-btn
      fixed
      :to="{ name: 'CreateClient' }"
      fab
      large
      color="primary"
      bottom
      right
      class="v-btn--example"
    >
      <v-icon>mdi-account-plus</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
  import api from '@/api/coaching-api';

  export default {
    
    async created() {
      await this.loadClients();
    },
    methods: {
      async loadClients() {
        this.clients = await api.getClients();
      },
      async deleteClient(client) {
        await api.deleteClient(client.id);
        await this.loadClients();
      }
    },
    data: () => ({
      clients: [],
    }),
    metaInfo() {
      return {
        title: "Liste des clients",
        titleTemplate: null,
        meta: [
          {
            name: "Liste des clients",
            content: "Page d'administration permettant de gérer les clients."
          }
        ]
      };
    },
  }
</script>

<style lang="scss" scoped>

</style>
